<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Astrilla_WebApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Astrilla_WebApp.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>


<body>
    <header>
        <nav class="menuBar" id="menuBar">
            <ul class="contentBoxFlex fitHeight">
                <li class="menuItem borderLeft @(ViewContext.RouteData.Values["action"].ToString() == "Index" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
                    <a class="menuLink" asp-area="" asp-controller="Home" asp-action="Index">
                        HOME
                    </a>
                </li>
                <li class="menuItem @(ViewContext.RouteData.Values["action"].ToString() == "Sternzeichen" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
                    <a class="menuLink" asp-area="" asp-controller="Home" asp-action="Sternzeichen">
                        STERNZEICHEN
                    </a>
                </li>
                <li class="menuItem @(ViewContext.RouteData.Values["action"].ToString() == "ÜberUns" && ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
                    <a class="menuLink" asp-area="" asp-controller="Home" asp-action="ÜberUns">
                        ÜBER UNS
                    </a>
                </li>
            </ul>
        </nav>

        <div class="webTitle" id="webTitle">Astrologie Berger</div>
    </header>


    <div class="containerView">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menuBar.js" asp-append-version="true"></script>
    <script src="~/js/zodiacViewSelection.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>
